/*
Widget-Buffer Unwanted Linebreak Fix
Autor: 		Fabián Sanhueza
Website: 	https://jdfs.cl
*/

.cm-active.cm-line {
	& img.cm-widgetBuffer {
		display: none !important;
	}
}

.markdown-source-view.mod-cm6 {
	img.cm-widgetBuffer:not(.HyperMD-codeblock img.cm-widgetBuffer) {
		display: none !important;
	}
}
